# **Data Structure Contd**

## Tuple

### initialization of tuple

In [1]:
my_tuple = (1, 2, 3)
type(my_tuple)

tuple

In [2]:
my_tuple[1]

2

### Accessing and sclicing

In [3]:
tuple1 = ("apple", 123, True, 3.14, [1, 2, 3])
print(tuple1[-1])

[1, 2, 3]

In [4]:
print(tuple1[-1][1])

2

In [5]:
print(tuple1[1:4])

(123, True, 3.14)

In [6]:
print(tuple1[:-1])

('apple', 123, True, 3.14)

In [7]:
print(tuple1[::-1])

([1, 2, 3], 3.14, True, 123, 'apple')

### Built-in Functions

In [8]:
min_element = min(my_tuple)
max_element = max(my_tuple)
print(min_element)
print(max_element)

1
3

In [9]:
sum_element = sum(my_tuple)
print(sum_element)

6

In [10]:
tuple3 = (1, 2, 3, 4, 5, 3, 7, 8, 11, 12, 9, 2)
# frequency of any given element
count_2 = tuple3.count(2)
print(count_2)

2

In [11]:
pos = tuple3.index(2)
print(pos)

1

In [12]:
pos = tuple3.index(20)
print(pos)

ValueError: tuple.index(x): x not in tuple

### How to convert tuple to list

In [13]:
tuple2 = ('Shubham', 'Preeti', 'Rashmi', 'Ajay', 'Riya')
list1 = list(tuple1)
print(list1)

['apple', 123, True, 3.14, [1, 2, 3]]

In [14]:
list1.extend(["Sushil", "Jitendra", "Priya"])
print(list1)

['apple', 123, True, 3.14, [1, 2, 3], 'Sushil', 'Jitendra', 'Priya']

In [15]:
a, b, c = my_tuple
print(a)
print(b)
print(c)

1
2
3

In [16]:
my_tuple = (1, 2, 3, 4, 5, 6, 7)
a, *b, c = my_tuple
print(a)
print(b)
print(c)

1
[2, 3, 4, 5, 6]
7

In [17]:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')
combined_tuple = tuple1 + tuple2
print(combined_tuple)

(1, 2, 3, 'a', 'b', 'c')

## Sets

In [18]:
set1 = set() # Empty set
set2 = {1, 2, 3}
set3 = {1, "One", 3.4}

In [19]:
print(set3)

{'One', 1, 3.4}

In [20]:
type(set3)

set

In [21]:
set4 = {1, 2, 3, 4, 2, 3, 3, 2, 4, 4, 3, 2}
print(set4)

{1, 2, 3, 4}

In [22]:
single_element_set = {42}
print(single_element_set)

{42}

In [23]:
type(single_element_set)

set

In [24]:
my_string = "hello"
my_set = set(my_string)
print(my_set)

{'l', 'o', 'e', 'h'}

In [25]:
my_set

{'e', 'h', 'l', 'o'}

In [26]:
print('e' in my_set)

True

In [27]:
len(my_set)

4

### Built-in Functions

In [28]:
min_element = min(my_set)
max_element = max(my_set)
print(min_element)
print(max_element)

e
o

In [29]:
print(sum(my_set))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [30]:
num_set = {1, 2, 3, 4, 5}
print(sum(num_set))

15

In [31]:
my_list = list(my_set)
print(my_list)

['l', 'o', 'e', 'h']

In [32]:
my_set2 = set(my_list)
print(my_set2)

{'l', 'h', 'e', 'o'}

In [33]:
my_set3 = {[1, 2, 3]}
print(my_set3)

TypeError: unhashable type: 'list'

In [34]:
my_set = {1, 2, 3, 4, 5, 6, 7}

In [35]:
my_set

{1, 2, 3, 4, 5, 6, 7}

In [36]:
my_set.add(9)

In [38]:
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 9}

In [39]:
my_set.update([8, 10, 1])
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### JoinSets

#### Union

In [40]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
union_set = set1.union(set2) # set1 | set2
print(union_set)

{1, 2, 3, 4, 5, 6}

#### Intersection

In [50]:
set1 = {1, 2, 3}
set2 = {3, 5, 6}
interaction_set = set1 & set2 # set1.intersection(set2)
print(interaction_set)

{3}

#### Difference

In [42]:
difference_set = set1 - set2 # set1.difference(set2)
print(difference_set)

{1, 2}

#### Symmetric Difference

In [43]:
symmetric_difference_set = set1 ^ set2 # set1.symmetric_difference(set2)
print(symmetric_difference_set)

{1, 2, 5, 6}

In [52]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_update_set = set1.difference_update(set2)
print(difference_update_set)
print(set1)

None
{1, 2}

In [53]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
sym_diff_update_set = set1.symmetric_difference_update(set2)
print(sym_diff_update_set)
print(set1)

None
{1, 2, 4, 5}

In [54]:
tup1 = (1, 2, 3)
tup2 = (3, 4, 5)
set1 = set(tup1)
set2 = set(tup2)
union_set = set1.union(set2)
my_tuple = tuple(union_set)
print(my_tuple)

(1, 2, 3, 4, 5)

In [56]:
def merge_and_remove_duplicates(tuple1, tuple2):
  return tuple(set(tuple1 + tuple2))
  # return tuple(set(tuple1).union(tuple2))

tup1 = (1, 2, 3)
tup2 = (3, 4, 5)
my_tuple = merge_and_remove_duplicates(tup1, tup2)
print(my_tuple)

(1, 2, 3, 4, 5)

## Dictionaries

In [57]:
my_dict = {
    "name": "Vishwajeet Khaple", "age": 21, "salary": 50000,
    "city": "Pune", "location": "Kothrud"
}

print(my_dict)

{'name': 'Vishwajeet Khaple', 'age': 21, 'salary': 50000, 'city': 'Pune', 'location': 'Kothrud'}

In [58]:
my_dict['salary']

50000

### Built-in Methods

In [59]:
print(my_dict.keys())

dict_keys(['name', 'age', 'salary', 'city', 'location'])

In [60]:
print(my_dict.values())

dict_values(['Vishwajeet Khaple', 21, 50000, 'Pune', 'Kothrud'])

In [61]:
print(my_dict.items())

dict_items([('name', 'Vishwajeet Khaple'), ('age', 21), ('salary', 50000), ('city', 'Pune'), ('location', 'Kothrud')])

In [62]:
my_dict

{'name': 'Vishwajeet Khaple',
 'age': 21,
 'salary': 50000,
 'city': 'Pune',
 'location': 'Kothrud'}

In [64]:
my_dict["position"] = None
my_dict["Company"] = None
my_dict

{'name': 'Vishwajeet Khaple',
 'age': 21,
 'salary': 50000,
 'city': 'Pune',
 'location': 'Kothrud',
 'position': None,
 'Company': None}

In [65]:
def occurance_of_element(my_list, output):
  for item in my_list:
    if item in output:
      output[item] += 1
    else:
      output[item] = 1

  return output

my_list = ['a', 'b', 'a', 'b', 'c', 'a']
output = {}
print(occurance_of_element(my_list, output))

{'a': 3, 'b': 2, 'c': 1}

In [72]:
def occurance_of_element(my_list, output):
  for i in my_list:
    count = 0
    for j in range(len(my_list)):
      if i == my_list[j]:
        count += 1
      else:
        continue
    output[count] = i
  return output

my_list = ['a', 'b', 'a', 'b', 'c', 'a']
output = {}
print(occurance_of_element(my_list, output))

{3: 'a', 2: 'b', 1: 'c'}