# **Conditional Statements**

## if-else

In [1]:
x = 10

if x > 0:
  print("x is positive")

x is positive

In [2]:
x = -10

if x > 0:
  print("x is positive")

In [3]:
x = -10

if x > 0:
  print("x is positive")
else:
  print("x is negative")

x is negative

In [4]:
x = 100

if x > 0:
  print("x is positive")

print("This is outside the if block")

x is positive
This is outside the if block

Given a number, verify that the number is a multiple of 2 or not?

In [5]:
x = int(input("Enter a number: "))
# condition to check wheather a numbe ris a multiple of 2 or not
if x % 2 == 0:
  print("number is multiple of 2")
else:
  print("number is not multiple of 2")

Enter a number: 56
number is multiple of 2

In [6]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

# key to check
key_to_check = 'b'

# checking wheather a key is in dictionary or not
if key_to_check in my_dict.keys():
  print(f"{key_to_check} is in the dictionary")
else:
  print(f"{key_to_check} is not in the dictionary")

b is in the dictionary

## if-elif

In [7]:
a = 10
b = 5
c = 8

if a > b and a > c:
  print("a is greater than b and c")
elif b > a and b > c:
  print("b is greater than a and c")
elif c > a and c > b:
  print("c is greater than a and b")
else:
  print("none of the above conditions are met")

a is greater than b and c

## Nested conditional statement

if condition:
  if condition2:

In [8]:
x = 10
y = 5

if x > 0:
  print('x is positive')

  if y > 0:
    print('y is positive')

x is positive
y is positive

In [9]:
x = 10
y = 5

# the below if conditions are independent to each other
if x > 0:
  print('x is positive')

if y > 0:
  print('y is positive')

x is positive
y is positive

In [10]:
age = 25
income = 50000

if age >= 18:
  print("You are eligible to vote")
  if income >= 30000:
    print("You are eligible to apply for a credit card")
  elif income >= 20000:
    print("You are eligible to apply for a personal loan")
  else:
    print("You are eligible to open a savings account")
else:
  print("You are not eligible to vote")

You are eligible to vote
You are eligible to apply for a credit card

Write a program to take three side lengths and prints wheather the triangle is equilateral, isosceles or scalene

In [11]:
side1 = int(input("Enter the first side: "))
side2 = int(input("Enter the second side: "))
side3 = int(input("Enter the third side: "))

if side1 == side2 == side3:
  print("The triangle is equilateral")
elif side1 == side2 or side1 == side3 or side2 == side3:
  print("The triangle is isosceles")
else:
  print("The triangle is scalene")

Enter the first side: 23
Enter the second side: 32
Enter the third side: 23
The triangle is isosceles

Write a program that prints "Fizz" if a number is divisible by 3, "Buzz" if divisible by 5, "FizzBuzz" if a number is divisible by both 3 and 5

In [12]:
num = int(input("Enter any number: "))
if num % 3 == 0 and num % 5 == 0:
  print("FizzBuzz")
elif num % 3 == 0:
  print("Fizz")
elif num % 5 == 0:
  print("Buzz")
else:
  print(num)

Enter any number: 45
FizzBuzz

check wheather a string is palindrome or not

In [13]:
string = input("Enter a string: ")

if string == string[::-1]:
  print("It is palindrome")
else:
  print("It is not a palindrome")

Enter a string: cricket
It is not a palindrome

## Loops

In [14]:
x = "Hello World"
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [15]:
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [16]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in numbers:
  if num % 2 == 0:
    print("Even Number")
  else:
    print("Odd Number")

Odd Number
Even Number
Odd Number
Even Number
Odd Number
Even Number
Odd Number
Even Number
Odd Number
Even Number

In [17]:
numbers = [10, 50, 40, 30, 5, 15]

max = 0
for num in numbers:
  if max < num:
    max = num

print(f'{max} is the maximum number')

50 is the maximum number

In [18]:
for i in range(6):
  print(i)

else:
  print("Finally Finished")

0
1
2
3
4
5
Finally Finished

### Loop Comprehension

In [19]:
squares = [x ** 2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
# new_list = [expression for item in iterable]

### Generator Expression

In [21]:
squares = (x ** 2 for x in range(1, 11))
print(squares)

for square in squares:
  print(square)

<generator object <genexpr> at 0x7c7626049150>
1
4
9
16
25
36
49
64
81
100

### Nested For Loop

In [22]:
for i in range(1, 6):
  for j in range(1, 11):
    print(i*j, end='\t')

  print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50

In [23]:
n = int(input())

sum = 0
i = 2

while i <= n:
  sum += i
  i += 2

print(sum)

16
72

### Nested While Loop

In [24]:
outer_count = 0

while outer_count < 3:
  print("Outer Loop iteration", outer_count)

  inner_count = 0
  while inner_count < 2:
    print("Inner Loop iteration", inner_count)
    inner_count += 1

  outer_count += 1

Outer Loop iteration 0
Inner Loop iteration 0
Inner Loop iteration 1
Outer Loop iteration 1
Inner Loop iteration 0
Inner Loop iteration 1
Outer Loop iteration 2
Inner Loop iteration 0
Inner Loop iteration 1

find the sum of all even numbers from 1 to 100 using a for loop

In [25]:
sum = 0
for i in range(0, 101, 2):
  sum += i

print(sum)

2550

write a program to calculate the factorial of a number using a while loop

In [27]:
n = int(input("Enter a number:  "))

fact = 1

while n > 1:
  fact *= n
  n -= 1

print(fact)

Enter a number:  5
120