# **Functions**

In [1]:
# function definition
def greet(name):
  print(f"Hello, {name}")

# function call
greet("Vishwajeet")

Hello, Vishwajeet

In [2]:
def myFunction(*learners):
  print("One of the learner in full stack data science course is " + learners[2])

# Learners name
myFunction("Raman", "Sanjeev", "Susheet", "Aritra", "Soumallya", "Himanshu")

One of the learner in full stack data science course is Susheet

In [5]:
def my_function(country="India"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function() # default country = 'India'
my_function("Brazil")

I am from Sweden
I am from India
I am from India
I am from Brazil

In [6]:
def function(a, b=10, c):
  return a + b - c

result = function(10, 12)
print(result)

SyntaxError: parameter without a default follows parameter with a default (ipython-input-4133844547.py, line 1)

In [8]:
def calculate_result(x, y, w = 1, z = 5):
  return x + y + w + z

result = calculate_result(1, 2, 4)
print(result)

12

In [10]:
def my_function(lst):
  for num in lst:
    print(num)

lst = [2, 3, 4, 5, 6, 1, 8]
my_function(lst)

2
3
4
5
6
1
8

Create a function "calc" in which it is having add functionality, subtraction functionality, multiplication and division functionality of two numbers

In [12]:
n1 = int(input("Enter number 1: "))
n2 = int(input("Enter number 2: "))
operation = input("Enter operation: ")

def calc(n1, n2, operation = "add"):
  if operation == "add":
    return n1 + n2
  elif operation == "sub":
    return n1 - n2
  elif operation == "mult":
    return n1 * n2
  elif operation == "divide":
    return n1 / n2
  else:
    return "Invalid operation"

# n1 = 2
# n2 = 4
# operation = multiply
# result = calc(n1, n2, operation)
# if operation is not there
result = calc(n1, n2)
print(result)

Enter number 1: 2
Enter number 2: 4
Enter operation: mult
6

## print() and return

In [13]:
def add_with_print(a, b):
  print("The sum of two numbers is ", a + b)

def add_with_return(a, b):
  return a + b

add_with_print(2, 3)
result = add_with_return(2, 3)
print("The sum of two numbers is ", result)

The sum of two numbers is  5
The sum of two numbers is  5

## Armstrong Number

In [17]:
n = int(input("Enter a number: "))

def count_length(n):
  num = n
  count = 0
  while num > 0:
    num = num // 10
    count += 1
  return count

def is_armstrong(n):
  num = n
  pow = count_length(n)
  new_num = 0
  while num > 0:
    new_num += (num % 10) ** pow
    num = num // 10
  if new_num == n:
    return True
  else:
    return False

is_armstrong(n)

Enter a number: 568

False

In [18]:
def sum_and_product(num1, num2):
  sum = num1 + num2
  product = num1 * num2
  return sum, product

sum, product = sum_and_product(2, 3)
print(sum, product)

5 6

## Nested Functions

In [20]:
def calculator(x, y):
  def add(x, y):
    return x + y

  def multiply(x, y):
    return x * y

  def calc(op, x, y):
    if op == "add":
      return add(x, y)
    else:
      return multiply(x, y)

  return calc('add', x, y), calc('multiply', x, y)

result = calculator(2, 3)
print(result)

(5, 6)